.header {
    display: inline-block;
    margin-left: 30px;
    font-family: Verdana;
}

.header a {
    text-decoration: none;
    color: black;
}

.menu {
    display: block;
    float: right;
    margin: 40px;
    font-size: 12px;
}

.menu a {
    margin-left: 20px;
    color: black;
    text-decoration: none;
}

.bg {
    height: 400px;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    text-align: center;
}

.bg a {
    text-decoration: none;
    color: black;
}

.bg p {
    margin-left:25px;
    font-size:20px;
    border: 0;
    outline: 0;
}

.bg div {
    position: fixed;
    left: 25%;
}

.about-table {
    width: 1100px;
    margin-left: 30px;
}

.about-table thead td {
    padding-bottom: 10px;
    border-bottom: 1px solid Gray;
}

.chead {
    padding-bottom: 10px;
    font-size:10px;
    border-bottom: 1px solid Gray;
}

.front-link {
    float: right;
    margin-right: 50px;
    text-decoration: none;
}

.back-link {
    float: right;
    margin-right: 50px;
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 50px;
}

.button {
    width:100px;
    background-color: #777777;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
}