doctype html
html
  head
    meta(charset='utf-8')
    title test
    script(src="https://api2.sktelecom.com/tmap/js?version=1&format=javascript&appKey=97e063ba-579f-4055-a310-fdf9ec17dcd7")
    script(src="https://code.jquery.com/jquery-1.10.2.js")

  body(onLoad="initMap()")
    script(src="map.js").
    script(type='text/javascript').
      function clickLocation(destLongitude, destLatitude) {
        location.href='/work?startLongitude=' + longitude + '&startLatitude=' + latitude + '&destLongitude=' + destLongitude + '&destLatitude=' + destLatitude;
        return false;
      }
    div(id="map_div")
    h1
      each tour in tourList
        a(href="#" onclick="clickLocation(#{tour.longitude}, #{tour.latitude})") #{tour.title}
        br
    p(id="result")
