doctype html
html
  head
    title Picup
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../assets/css/home-style.css')
    link(rel='stylesheet', href='../assets/css/guide-timer.css')
  body
    h1.header
      a(href='home') Picup
    .menu
      a(href='home') HOME
      a(href='work') WORK
      a(href='about') ABOUT
      a(href='contact') CONTACT
    .bg
      h1 Picup
      form(action='/register' method='post')
        p
        input(type='text' name='username' placeholder='username')
        p
        input(type='password' name='password' placeholder='password')
        p
        input(type='text' name='nickname' placeholder='nickname')
        p
        input(type='submit' name='login' value='Sign in')
      br

    footer
      #clock.light
        .display
          .weekdays
          .ampm
          .alarm
          .digits
    // JavaScript Includes
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js')
    script(src='../assets/js/guide-timer.js')
